<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Ryder Analytics POC</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">
<script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.11/js/adal.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="float: left; padding-left: 400px;">
                <a style="font-size: 25px;" href="#">Navishare Portal POC</a>
             
            </div>

            
            <!-- /.navbar-collapse -->
        </div>
         <div style="float: left; padding-left: 1400px;">
         <a style="font-size: 20px;"  href="#" onclick="authContext.logOut(); return false;">Log out</a>
      </div>
        <!-- /.container -->
    </nav>
    <div>
      Click on the Report/Dashboard to Display
      <div>
            <button type="button" onclick="loadPowerBIView('loadnoreport')">LOAD NO REPORT</button>
            <button type="button" onclick="loadPowerBIView('PlantProjectedReport')">PLANT PROJECTED REPORT</button>
            <button type="button" onclick="loadPowerBIView('eydashboard')">EY DASHBOARD</button>
      </div>
     
      <!--<div id="browse_app">
         <button type="button" onclick="loadPowerBIReport()">Submit</button>
      </div>-->
    </div>
    <div>Embed View</div>
    <div id="embedContainer" style="height: 596.632px;">
   
    </div>
  <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/powerbi-client/dist/powerbi.js"></script>

<script>

var authContext = new AuthenticationContext({
  clientId: '18058e13-f49f-4ff2-a29d-ecf8254e7d2a',
  //https://suntest.azurewebsites.net/.auth/login/aad/callback
  postLogoutRedirectUri: 'http://suntest.azurewebsites.net/'
});

function loadPowerBIView(viewName){
console.log(viewName);
console.log("Azure Active Directory Token::");
console.log(localStorage.tokenGlobal);
var xhr = new XMLHttpRequest();
                xhr.open('GET', 'https://api.powerbi.com/v1.0/myorg/groups', true); 
                xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.tokenGlobal);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                      console.log("Groups - XHR Response");
                      console.log(xhr.responseText);
                        // Do something with the response
                       var groupsResponse = JSON.stringify(JSON.parse(xhr.responseText));
                       console.log("groupsResponse");
                      console.log(groupsResponse);
                    } else {
                        // TODO: Do something with the error (or non-200 responses)
                        document.getElementById('api_response').textContent =
                            'ERROR:\n\n' + xhr.responseText;
                    }
                };
                xhr.send();
}

function loadPowerBIReport() {

  // Read embed application token from textbox
  var txtAccessToken = $('#txtAccessToken').val();

  // Read embed URL from textbox
  var txtEmbedUrl = $('#txtReportEmbed').val();

  // Read report Id from textbox
  var txtEmbedReportId = $('#txtEmbedReportId').val();

  // Get models. models contains enums that can be used.
  var models = window['powerbi-client'].models;

  // We give All permissions to demonstrate switching between View and Edit mode and saving report.
  var permissions = models.Permissions.All;

  // Embed configuration used to describe the what and how to embed.
  // This object is used when calling powerbi.embed.
  // This also includes settings and options such as filters.
  // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
  var config = {
    type: 'report',
    accessToken: txtAccessToken,
    embedUrl: txtEmbedUrl,
    tokenType: models.TokenType.Embed,
    id: txtEmbedReportId,
     // permissions: permissions,
      settings: {
          filterPaneEnabled: true,
          navContentPaneEnabled: true
      }
  };
// Get a reference to the embedded report HTML element
var embedContainer = $('#embedContainer')[0];
// Embed the report and display it within the div container.
var report = powerbi.embed(embedContainer, config);
 
 console.log("config");
 console.log(config);

}
</script>
    
</body>

</html>
