<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ryder Analytics POC</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Navishare Portal POC</a>
             
            </div>
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div>
      This area is for embedding Power BI Dashboards/Reports
      <div id="browse_app">
           <!-- <a class="btn btn-large btn-info" href="/src/views/login.html">Browse</a> -->
           Embed Token
           <input type="text" id="txtAccessToken">
      </div>
      <div id="browse_app">
           <!-- <a class="btn btn-large btn-info" href="/src/views/login.html">Browse</a> -->
           Embed URL
           <input type="text" id="txtReportEmbed">
      </div>
      <div id="browse_app">
           <!-- <a class="btn btn-large btn-info" href="/src/views/login.html">Browse</a> -->
           Report Id
           <input type="text" id="txtEmbedReportId">
      </div>
      <div id="browse_app">
           <!-- <a class="btn btn-large btn-info" href="/src/views/login.html">Browse</a> -->
           
         <button type="button" onclick="loadPowerBIReport()">Submit</button>
      </div>
    </div>
    <div>Embed View</div>
    <div id="embedContainer" style="height: 596.632px;">
   
    </div>
  <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
   
<script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/powerbi-client/dist/powerbi.js"></script>

<script>
console.log("Global Token::");
console.log(localStorage.tokenGlobal);
function loadPowerBIReport(){

    // Read embed application token from textbox
    var txtAccessToken = $('#txtAccessToken').val();
 
// Read embed URL from textbox
var txtEmbedUrl = $('#txtReportEmbed').val();
 
// Read report Id from textbox
var txtEmbedReportId = $('#txtEmbedReportId').val();
 
// Get models. models contains enums that can be used.
var models = window['powerbi-client'].models;
 
// We give All permissions to demonstrate switching between View and Edit mode and saving report.
var permissions = models.Permissions.All;
 
// Embed configuration used to describe the what and how to embed.
// This object is used when calling powerbi.embed.
// This also includes settings and options such as filters.
// You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
var config= {
    type: 'report',
    //tokenType: models.TokenType.Embed,
    accessToken: txtAccessToken,
    embedUrl: txtEmbedUrl,
    /*id: txtEmbedReportId,
    permissions: permissions,
    settings: {
        filterPaneEnabled: true,
        navContentPaneEnabled: true
    }*/
};




// Get a reference to the embedded report HTML element
var embedContainer = $('#embedContainer')[0];
 
// Embed the report and display it within the div container.
var report = powerbi.embed(embedContainer, config);
 
// Report.off removes a given event handler if it exists.
//report.off("loaded");
 
// Report.on will add an event handler which prints to Log window.
/*report.on("loaded", function() {
    Log.logText("Loaded");
});
 
report.on("error", function(event) {
    Log.log(event.detail);
     
    report.off("error");
});
 
report.off("saved");
report.on("saved", function(event) {
    Log.log(event.detail);
    if(event.detail.saveAs) {
        Log.logText('In order to interact with the new report, create a new token and load the new report');
     }
 }); */ 

/*var config = {
        type: 'dashboard',
        accessToken: txtAccessToken,
        embedUrl: txtEmbedUrl
    };

        // Grab the reference to the div HTML element that will host the dashboard.
var dashboardContainer = $('#embedContainer')[0];


    // Embed the dashboard and display it within the div container.
var dashboard = powerbi.embed(dashboardContainer, config);*/

 console.log("config");
 console.log(config);

}




    </script>
    

    <!-- jQuery -->
    
    
  

</body>

</html>
