<!DOCTYPE html>
<html>
    <head>
        <title>V2Soft - Navishare Portal POC</title>
        <meta charset="utf-8" />
        <style type="text/css">body { font-family: Tahoma; padding: 3em; }</style>
        <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.11/js/adal.min.js">
        </script>
    </head>
    <body>
    <script src="js/index.js"></script>
       <div style="float: left; padding-left: 400px;">
        <p>
           WELCOME TO NAVISHARE PORTAL - AZURE AD AUTHENTICATION
        </p>
        </div>
        <div style="float: left; padding-left: 400px;">
           <a href="#" onclick="authContext.login(); return false;">Log in</a>
        </div>
        <p id="username"></p>
        <pre id="api_response"></pre>
     
       <script type="text/javascript">
        var tokenGlobal = "";
        // Set up ADAL
        var authContext = new AuthenticationContext({
          clientId: '18058e13-f49f-4ff2-a29d-ecf8254e7d2a',
          postLogoutRedirectUri: 'http://suntest.azurewebsites.net/'
        });
        
        if (authContext.isCallback(window.location.hash)) {
          // Handle redirect after token requests
          authContext.handleWindowCallback();
          var err = authContext.getLoginError();
          if (err) {
            // TODO: Handle errors signing in and getting tokens
            document.getElementById('api_response').textContent =
              'ERROR:\n\n' + err;
          }
        } else {
          // If logged in, get application access token 
          var user = authContext.getCachedUser();
          if (user) {
            document.getElementById('username').textContent = 'Signed in as: ' + user.userName;
            document.getElementById('api_response').textContent = 'Getting access token...';
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'https://suntest.azurewebsites.net/getAadToken', false);
            xhr.send(null);
            if (xhr.readyState === 4 && xhr.status === 200) {
              if (xhr.responseText) {
                delete localStorage.tokenGlobal;
                localStorage.tokenGlobal = xhr.responseText;
                window.location.href = "http://suntest.azurewebsites.net/home.html";
              }
            } else {
             //TODO: Handle Error scenarios
            }

          } else {
            document.getElementById('username').textContent = 'Not signed in.';
          }
        }
        </script>
    </body>
</html>